@charset "utf-8";
/* CSS Document */
body
{
	margin:0px 0px 0px 0px;
	padding:0px;
	font-family:"微軟正黑體";
	overflow:hidden;
}
a
{
	text-decoration:none;
	color:rgba(0,0,0,1);
}
.top
{
	width:100%; height:100px;
	background-color:rgba(0,0,0,1);
	color:rgba(204,204,204,1);
}
.menu
{
	width:100%; height:75px;
	background:rgba(153,153,153,1);
}
.menu_item
{
	width:100px;
	display:inline;
	position:relative; top:21px;
	padding:20px;
	font-size:24px;
	margin:0px 30px;
	cursor:pointer;
	background-color:rgba(204,204,204,1);
}
.menu_item:hover
{
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	background-color:rgba(102,102,102,0.2);
}
.movie_item
{
	width:340px; height:400px;
	background-color:rgba(0,0,0,0.4);
	float:left;
	margin:20px 50px 40px 50px;
	font-size:18px;
	border-radius:10px;
	border:rgba(0,0,0,0.4) 1px solid;
	box-shadow:10px 10px 3px rgba(102,102,102,1);
}
.movie_item:hover
{
	-webkit-transition:1s;
	-moz-transition:1s;
	-o-transition:1s;
	transition:1s;
	border:rgba(204,204,204,1) 1px solid;
	background-color:rgba(102,102,102,1);
}
.movie_button
{
	width:100px;
	height:40px;
	font-size:18px;
	margin:0px 30px;
	background-color:rgba(204,204,204,1);
	border-color:rgba(255,255,255,1);
	cursor:pointer;
	border-radius:5px;
	box-shadow:1px 1px 3px #666666;
}
.middle
{
	width:100%; height:395px;
	overflow-y:scroll;
}
.bottom
{
	width:100%; height:30px;
	background-color:rgba(0,0,0,1);
	color:rgba(255,255,255,1);
	line-height:2em;
	position:fixed; bottom:0px;
}